<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631348841076-l1u6of4qk2c56b9hl0r68dd2vrhq38l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631348841076-l1u6of4qk2c56b9hl0r68dd2vrhq38l6</string>
	<key>API_KEY</key>
	<string>AIzaSyBOYDjnAgSx5m0D37zJmDixNt0m7IRxOgM</string>
	<key>GCM_SENDER_ID</key>
	<string>631348841076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TechWorldSolutions.MidStateClothing</string>
	<key>PROJECT_ID</key>
	<string>midstate-clothing</string>
	<key>STORAGE_BUCKET</key>
	<string>midstate-clothing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631348841076:ios:2ec3bc5871eb5f11205f21</string>
	<key>DATABASE_URL</key>
	<string>https://midstate-clothing.firebaseio.com</string>
</dict>
</plist>